:root {
  --colorblack: #2e2e2e;
  --colorgray: #616161;
  --colorlightgray: #ededed;
  --colorwhite: #ffffff;
  --colorprimary: #3da46b;
  --colorsecondary: #cfeadb;
  --colorborder: #368f5f;
  --colorhover: #4fcf8a;
  --colorpressed: #2e7b50;
  --colorfocus: #9be9c0;
  --colorC: #80c26c;
  --colorU: #83c2ba;
  --colorS: #3f9a8e;
  --colorD: #3faa6d;
  --ff: "Inter", sans-serif;
  --title: 600 2.75rem/3.25rem var(--ff);
  --h1: bold 2.25rem/2.75rem var(--ff);
  --h2: bold 1.75rem/2.25rem var(--ff);
  --h3: bold 1.25rem/1.75rem var(--ff);
  --h4: normal 1.25rem/1.75rem var(--ff);
  --p16: normal 1rem/1.5rem var(--ff);
  --p12: normal 0.75rem/1rem var(--ff);
  --shadow: 0px 3px 15px rgba(0, 0, 0, 0.05);
  --text-shadow: 1px 1px 2px black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font: var(--h1);
}

h2 {
  font: var(--h2);
}

h3 {
  font: var(--h3);
}

h4 {
  font: var(--h4);
}

p {
  font: var(--p16);
}

.header-button,
.primary-button {
  padding: 0.5rem 1rem;
  background-color: var(--colorprimary);
  border: transparent;
  border-radius: 4px;
  color: var(--colorwhite);
  transition: 0.15s ease;
}

.primary-button {
  font: var(--p16);
}

.header-button {
  flex: 0 0 auto;
  margin-right: 6.25rem;
  font: var(--h4);
}

.primary-button:hover,
.header-button:hover {
  background-color: var(--colorhover);
  cursor: pointer;
}

.primary-button:active,
.header-button:active {
  background-color: var(--colorpressed);
  cursor: pointer;
}

/* Header Styling */
header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.85);
  height: 7rem;
  box-shadow: var(--shadow);
}

.logo {
  text-decoration: none;
}

.cusd-logo {
  display: flex;
  gap: 0.75rem;
  flex: 0 0 auto;
  margin-left: 6.25rem;
}

.cusd-logo-img {
  width: clamp(4rem, 4.25rem, 4.5rem);
  height: auto;
}

.cusd-logo-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cu {
  font: var(--h2);
  color: var(--colorblack);
}

.sd {
  font: var(--h4);
  color: var(--colorgray);
}

.header-links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header-link {
  font: var(--h4);
  color: var(--colorgray);
  text-decoration: none;
}

.header-link:hover {
  color: var(--colorhover);
}

.header-link:active {
  color: var(--colorpressed);
}

.header-link.active {
  color: var(--colorprimary);
}

.header-link-style {
  display: inline-block;
  position: relative;
  margin: 0 0.75rem;
}

.header-link-style:after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}
.header-link-style:hover:after {
  width: 100%;
  background: var(--colorhover);
}

/* Home Page Styling */
.hero {
  width: 100%;
  min-height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.725), rgba(0, 0, 0, 0.725)),
    url("/assets/images/hero-img.avif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3.25rem;
  color: white;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.hero-heading {
  font: var(--title);
  text-shadow: var(--text-shadow);
}

.hero-subheading {
  font: var(--h4);
}

.hero-button {
  width: fit-content;
  align-self: center;
}

/* Why Section Styling */
.why-cusd {
  width: 100%;
  min-height: 60vh;
  display: flex;
  padding: 2.5rem 3.75rem;
  gap: 1.5rem;
}

.why-text {
  margin: 1rem;
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.why {
  color: var(--colorprimary);
}

.why-desc {
  font: var(--h2);
  color: var(--colorblack);
}

.why-cards {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  flex: 1;
}

.why-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.75rem;
  background-color: var(--colorprimary);
  border-radius: 4px;
  padding: 1.75rem 2.5rem;
  margin: 1rem 1.25rem;
  color: white;
  flex: 1;
}

.why-card-desc {
  color: var(--colorsecondary);
}

/* Stats Section */
.stats {
  width: 100%;
  min-height: 25vh;
  background-color: var(--colorlightgray);
  display: flex;
}

.stat-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  flex: 1;
}

.stat-card h1 {
  color: var(--colorprimary);
}

.stat-card h3 {
  font-weight: 500;
  color: #9e9e9e;
}

/* About Section Styling */
.about {
  height: 100vh;
  width: 100%;
}
