:root {
  --colorprimary: #3da46b;
  --colorsecondary: #cfeadb;
  --colorborder: #368f5f;
  --colorhover: #4fcf8a;
  --colorpressed: #2e7b50;
  --colorfocus: #9be9c0;
  --ff: "Inter", sans-serif;
  --h1: bold 2.25rem/2.75rem var(--ff);
  --h2: bold 1.75rem/2.25rem var(--ff);
  --h3: bold 1.25rem/1.75rem var(--ff);
  --h4: normal 1.25rem/1.75rem var(--ff);
  --p16: normal 1rem/1.5rem var(--ff);
  --p12: normal 0.75rem/1rem var(--ff);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
}

header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.75);
  height: 6.25rem;
}

.cusd-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  font-size: 24px;
  font-weight: bold;
  color: white;
  font-family: "Helvetica";
  text-transform: uppercase;
}

.c-icon {
  background-color: seagreen;
}

.u-icon {
  background-color: #3dae6a;
}

.s-icon {
  background-color: #53cd84;
}

.d-icon {
  background-color: #6ed9a0;
}

.cusd-logo {
  display: flex;
}
