:root {
  --colorblack: #2e2e2e;
  --colorgray: #616161;
  --colorlightgray: #ededed;
  --colorwhite: #ffffff;
  --colorprimary: #3da46b;
  --colorsecondary: #cfeadb;
  --colorborder: #368f5f;
  --colorhover: #4fcf8a;
  --colorpressed: #2e7b50;
  --colorfocus: #9be9c0;
  --colorC: #80c26c;
  --colorU: #83c2ba;
  --colorS: #3f9a8e;
  --colorD: #3faa6d;
  --ff: "Inter", sans-serif;
  --title: 600 2.75rem/3.25rem var(--ff);
  --h1: bold 2.25rem/2.75rem var(--ff);
  --h2: bold 1.75rem/2.25rem var(--ff);
  --h3: bold 1.25rem/1.75rem var(--ff);
  --h4: normal 1.25rem/1.75rem var(--ff);
  --p16: normal 1rem/1.5rem var(--ff);
  --p12: normal 0.75rem/1rem var(--ff);
  --shadow: 0 0 8px -4px var(--colorgray);
  --text-shadow: 1px 1px 2px black;
}

/* || General Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font: var(--h1);
}

h2 {
  font: var(--h2);
}

h3 {
  font: var(--h3);
}

h4 {
  font: var(--h4);
}

p {
  font: var(--p16);
}

/* || Button Styles */

.header-button,
.primary-button {
  padding: 0.5rem 1rem;
  background-color: var(--colorprimary);
  border: transparent;
  border-radius: 4px;
  color: var(--colorwhite);
  transition: 0.15s ease;
  width: fit-content;
  text-decoration: none;
}

.secondary-button {
  padding: 0.5rem 1rem;
  background-color: var(--colorsecondary);
  border: transparent;
  border-radius: 4px;
  color: var(--colorprimary);
  transition: 0.15s ease;
  border: solid 1px var(--colorprimary);
  width: fit-content;
  text-decoration: none;
}

.primary-button,
.secondary-button {
  font: var(--p16);
}

.header-button {
  flex: 0 0 auto;
  margin-right: 6.25rem;
  font: var(--h4);
}

.primary-button:hover,
.header-button:hover {
  background-color: var(--colorhover);
  cursor: pointer;
}

.secondary-button:hover {
  color: var(--colorhover);
  border: solid 1px var(--colorhover);
  cursor: pointer;
}

.primary-button:active,
.header-button:active {
  background-color: var(--colorpressed);
  cursor: pointer;
}

.secondary-button:active {
  color: var(--colorpressed);
  border: solid 1px var(--colorpressed);
  cursor: pointer;
}

/* || Header Styling */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.975);
  height: 7rem;
  box-shadow: var(--shadow);
}

/* Logo */
.logo {
  text-decoration: none;
}

.cusd-logo {
  display: flex;
  gap: 0.75rem;
  flex: 0 0 auto;
  margin-left: 6.25rem;
}

.cusd-logo-img {
  width: clamp(4rem, 4.25rem, 4.5rem);
  height: auto;
}

.cusd-logo-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cu {
  font: var(--h2);
  color: var(--colorblack);
}

.sd {
  font: var(--h4);
  color: var(--colorgray);
}

/* Links */
.header-links {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header-link {
  font: var(--h4);
  color: var(--colorgray);
  text-decoration: none;
}

.header-link:hover {
  color: var(--colorhover);
}

.header-link:active {
  color: var(--colorpressed);
}

.header-link.active {
  color: var(--colorprimary);
}

.header-link-style {
  display: inline-block;
  position: relative;
  margin: 0 0.75rem;
}

.header-link-style:after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0px;
  background: transparent;
  transition: width 0.5s ease, background-color 0.5s ease;
}
.header-link-style:hover:after {
  width: 100%;
  background: var(--colorhover);
}

.burger-menu {
  display: none;
}

.burger {
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 2rem;
  cursor: pointer;
}

.close-menu {
  display: none;
}

.close {
  width: 2.25rem;
  height: 2.25rem;
  margin: 2rem;
  cursor: pointer;
}

/* || Footer Styling */

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 30vh;
  background-color: var(--colorprimary);
  padding: 2.5rem 6.25rem;
}

.footer-top h2 {
  color: white;
  flex: 1;
}

.footer-top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer-divider {
  border: 1px solid rgba(207, 234, 219, 0.4);
  width: 80%;
  margin-top: 3.75rem;
}

.footer-bot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.subscribe {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.secondary-text-input {
  padding: 0.5rem 1rem;
  background-color: var(--colorsecondary);
  border: transparent;
  border-radius: 4px;
  color: var(--colorprimary);
  transition: 0.15s ease;
  border: solid 1px var(--colorprimary);
  width: fit-content;
  text-decoration: none;
  font: var(--p16);
}

.secondary-text-input:hover {
  color: var(--colorhover);
  border: solid 1px var(--colorhover);
  cursor: text;
}

.secondary-text-input:active {
  color: var(--colorpressed);
  border: solid 1px var(--colorpressed);
  cursor: text;
}

.secondary-text-input:focus {
  outline: 2px solid var(--colorfocus);
}

.secondary-text-input::placeholder {
  color: var(--colorprimary);
}

.subscribe-inputs button {
  background-color: white;
}

.socials {
  display: flex;
  gap: 0.75rem;
}

.socials img {
  height: 2.25rem;
  width: auto;
}

.social-icon {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: rgba(207, 234, 219, 0.4);
  border-radius: 50%;
  transition: 0.15s ease;
}

.social-icon:hover {
  background-color: rgba(207, 234, 219, 0.75);
}

/* || Hero Section Styling */
.hero,
.hero-team,
.hero-apply,
.hero-projects {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 3.25rem;
  color: white;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.725), rgba(0, 0, 0, 0.725)),
    url("/assets/images/hero-img.avif");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-projects {
  background: linear-gradient(rgba(0, 0, 0, 0.775), rgba(0, 0, 0, 0.775)),
    url("/assets/images/ssa-1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-team {
  background: linear-gradient(rgba(0, 0, 0, 0.775), rgba(0, 0, 0, 0.775)),
    url("/assets/images/clubfest.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-apply {
  background: linear-gradient(rgba(0, 0, 0, 0.775), rgba(0, 0, 0, 0.775)),
    url("/assets/images/cap.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero-content,
.hero-content-apply {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.hero-content {
  width: 75%;
}

.hero-content-apply {
  width: 50%;
}

.hero-heading {
  font: var(--title);
  text-shadow: var(--text-shadow);
}

.hero-subheading {
  font: var(--h4);
}

.hero-button {
  width: fit-content;
  align-self: center;
}

/* || Why Section Styling */

.why-cusd {
  width: 100%;
  min-height: 80vh;
  display: flex;
  padding: 2.5rem 3.75rem;
  gap: 1.5rem;
}

.why-text {
  margin: 1rem;
  width: 40%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.why {
  color: var(--colorprimary);
}

.why-desc {
  font: var(--h2);
  color: var(--colorblack);
  margin-bottom: 2.5rem;
}

.why-cards {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  flex: 1;
}

.why-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.75rem;
  background-color: var(--colorprimary);
  border-radius: 4px;
  padding: 1.75rem 2.5rem;
  margin: 1rem 1.25rem;
  color: white;
  flex: 1;
}

.why-card-desc {
  color: var(--colorsecondary);
}

/* || Stats + Announcement Section */

.stats,
.announcement-container {
  width: 100%;
  min-height: 25vh;
  background-color: var(--colorlightgray);
  display: flex;
}

.stat-card,
.announcement-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  flex: 1;
}

.stat-card h1,
.announcement-text h1 {
  color: var(--colorprimary);
}

.stat-card h3,
.announcements h3 {
  font-weight: 500;
  color: #9e9e9e;
}

/* || Home Horizontal Image Gallery */

.images-section {
  height: 80vh;
  width: auto;
  background-color: var(--colorsecondary);
  padding: 5rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-image-container {
  width: 90%;
  position: relative;
  margin-inline: auto;
  height: 40rem;
  overflow: hidden;
  border-radius: 4px;
  /* mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 5%,
    rgba(0, 0, 0, 1) 10%,
    rgba(0, 0, 0, 1) 15%,
    rgba(0, 0, 0, 1) 85%,
    rgba(0, 0, 0, 1) 90%,
    rgba(0, 0, 0, 1) 95%,
    rgba(0, 0, 0, 0) 100%
  ); */
}

@keyframes scrollLeft {
  to {
    left: -60rem;
  }
}

.home-images img {
  height: 40rem;
  width: 60rem;
  border-radius: 4px;
  position: absolute;
  left: calc(55rem * 10);
  animation-name: scrollLeft;
  animation-duration: 90s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.img1 {
  animation-delay: calc(90s / 10 * (10 - 1) * -1);
}

.img2 {
  animation-delay: calc(90s / 10 * (10 - 2) * -1);
}

.img3 {
  animation-delay: calc(90s / 10 * (10 - 3) * -1);
}

.img4 {
  animation-delay: calc(90s / 10 * (10 - 4) * -1);
}

.img5 {
  animation-delay: calc(90s / 10 * (10 - 5) * -1);
}

.img6 {
  animation-delay: calc(90s / 10 * (10 - 6) * -1);
}

.img7 {
  animation-delay: calc(90s / 10 * (10 - 7) * -1);
}

.img8 {
  animation-delay: calc(90s / 10 * (10 - 8) * -1);
}

.img9 {
  animation-delay: calc(90s / 10 * (10 - 9) * -1);
}

.img10 {
  animation-delay: calc(90s / 10 * (10 - 10) * -1);
}

/* || Team Page Styling */
.team-section-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: var(--colorsecondary);
}

.team-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 2.5rem 3.75rem;
  gap: 1.5rem;
  margin: 1rem;
}

.team-container h1 {
  color: var(--colorprimary);
  text-shadow: var(--shadow);
}

.team-members {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  flex-wrap: wrap;
}

.team-member-card {
  margin: 1rem;
  border-radius: 8px;
  box-shadow: var(--shadow);
}

.member-position {
  width: 17.5rem;
  height: 5rem;
  background-color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0rem 1rem;
}

.member-position h3 {
  color: var(--colorprimary);
}

.team-member-card img {
  display: flex;
  flex-direction: column;
  width: 17.5rem;
  height: auto;
}

.team-member-card-text {
  display: flex;
  flex-direction: column;
  width: 17.5rem;
  height: 10rem;
  background-color: white;
  padding: 0.75rem 1rem;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  gap: 0.2rem;
}

.member-name {
  color: var(--colorprimary);
}

.member-info,
.member-year {
  font: var(--p16);
  color: var(--colorgray);
}

.member-year {
  margin-top: auto;
}

/* || Quote + Caption */
.quote-container,
.caption-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 20vh;
  background-color: var(--colorprimary);
  padding: 1rem 0rem;
  box-shadow: var(--shadow);
}

.caption-container {
  min-height: 10vh;
}

.quote,
.caption {
  color: white;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: end;
  width: 75%;
  gap: 0.5rem;
}

.caption {
  align-items: center;
}

.quote h4 {
  font-style: italic;
}

/* || Application Timeline */
.timeline {
  position: relative;
  width: 100%;
  height: auto;
  background: var(--colorsecondary);
  z-index: -10;
  padding: 4rem 6.25rem;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background-color: white;
  top: 0;
  left: 50%;
  margin-left: -3px;
  animation: moveline 6s linear forwards;
  z-index: -1;
}

@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

.timeline-event {
  padding: 0.75rem 3rem;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}

@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0rem);
  }
}

.timeline-event:nth-child(1) {
  animation-delay: 0s;
}

.timeline-event:nth-child(2) {
  animation-delay: 1s;
}

.timeline-event:nth-child(3) {
  animation-delay: 2s;
}

.timeline-event:nth-child(4) {
  animation-delay: 3s;
}

.timeline-event:nth-child(5) {
  animation-delay: 4s;
}

.timeline-event:nth-child(6) {
  animation-delay: 5s;
}

.event-left {
  left: 0;
}

.event-right {
  left: 50%;
}

.timeline-inner-circle {
  width: 1.25rem;
  height: 1.25rem;
  background-color: var(--colorprimary);
  border-radius: 50%;
  z-index: 2;
}

.timeline-circle {
  position: absolute;
  right: -0.875rem;
  top: 32px;
  z-index: 10;
  width: 1.75rem;
  height: 1.75rem;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow);
}

.event-right .timeline-circle {
  left: -0.875rem;
}

.timeline-text {
  padding: 1.25rem 1.75rem;
  position: relative;
  border-radius: 6px;
  background-color: white;
  box-shadow: var(--shadow);
}

.timeline-text h2 {
  color: var(--colorprimary);
}

.timeline-text h3 {
  display: inline-block;
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

.left-timeline-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 1.2rem;
  z-index: 1;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-left: 1rem solid white;
  right: -1rem;
}

.right-timeline-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 1.2rem;
  z-index: 1;
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  border-right: 1rem solid white;
  left: -1rem;
}

/* Timeline Responsiveness */
@media screen and (max-width: 1000px) {
  .timeline {
    padding: 3.75rem 1rem 3.75rem 2.5rem;
  }

  .timeline::after {
    left: 2rem;
  }

  .timeline-event {
    width: 100%;
  }

  .timeline-text {
    font: var(--p12);
  }

  .timeline-text p {
    margin-bottom: 10px;
  }

  .event-right {
    left: 0;
  }

  .timeline-circle,
  .event-right .timeline-circle {
    left: -1.35rem;
  }

  .left-timeline-arrow,
  .right-timeline-arrow {
    border-right: 1rem solid white;
    border-left: 0;
    left: -1rem;
  }
}

/* || Application Info */
.application-container {
  width: 100%;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  padding: 2.5rem 8.5rem;
  gap: 2rem;
}

.application-link {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  margin: 1rem;
}

.application-link a {
  color: var(--colorprimary);
  text-decoration: none;
  transition: 0.15s ease;
  background-color: var(--colorsecondary);
  padding: 1.5rem 3.75rem;
  border-radius: 8px;
}

.application-link a:hover {
  color: var(--colorhover);
  background-color: #b7f0d5;
}

.application-link a:active {
  color: var(--colorpressed);
}

.application-container h1 {
  color: var(--colorprimary);
}

.application-content h4 {
  color: var(--colorgray);
}

/* Project Teams Styling */
.projects-container {
  padding: 2rem 1rem;
}

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.project {
  display: flex;
  width: 45%;
  min-height: 20vh;
  height: auto;
  gap: 1rem;
  padding: 1.25rem 1.5rem;
  margin: 1rem;
  border: 2px solid var(--colorlightgray);
  border-radius: 8px;
}

.project-logo {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 8px;
}

.project-description {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.project-description p {
  color: var(--colorgray);
}

.aquaculture-description h2 {
  color: #7bced5;
}

.arc-description h2 {
  color: #64d3cb;
}

.currents-description h2 {
  color: #fbd93f;
}

.marcomm-description h2 {
  color: #a8dfef;
}

.soil-factory-description h2 {
  color: #b5651d;
}

.solar-panel-reboot-description h2 {
  color: #f09f6b;
}

.sustainable-city-description h2 {
  color: #2f9e86;
}

.sustainable-mobility-description h2 {
  color: #414764;
}

.sustainable-smithsonian-description h2 {
  color: #2778b8;
}

/* || Responsive Styling */

.display {
  display: block;
}

/* Header Responsiveness */
@media screen and (max-width: 1200px) {
  .header-links {
    position: static;
    left: auto;
    transform: none;
    margin: 0rem 0.5rem;
  }
}

@media screen and (max-width: 1100px) {
  .cusd-logo {
    margin-left: 2rem;
  }

  .header-button {
    margin-right: 2rem;
  }
}

@media screen and (max-width: 900px) {
  .header-links,
  .header-button {
    display: none;
  }

  .burger-menu,
  .close-menu {
    display: block;
  }

  .header-links {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 80%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.975);
    top: 7rem;
    left: -100%;
    z-index: 10;
    transition: all 0.5s ease-in;
    margin: 0;
  }

  .display {
    left: 0;
    transition: all 0.5s ease-in-out;
  }

  .header-link-style {
    margin: 0.75rem 2rem;
  }

  .header-link {
    font-size: 2rem;
  }
}
