<div class="footer-top">
  <h2>Cornell University Sustainable Design</h2>
  <div class="subscribe">
    <h3>Stay up to date!</h3>
    <p>Subscribe to our newsletter for the latest updates.</p>
    <div class="subscribe-inputs">
      <!-- <input
        type="text"
        class="secondary-text-input"
        placeholder="Enter Email"
      /> -->
      <a
        href="https://cornell.us16.list-manage.com/subscribe?u=29f171b21d6450f54782b00d6&id=72d0edffbd"
        target="_blank"
        rel="noopener noreferrer"
      >
        <button class="secondary-button">Subscribe</button>
      </a>
    </div>
  </div>
  <div class="socials">
    <a
      href="mailto:cusd@cornell.edu"
      class="social-icon"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="/assets/icons/icon-email.svg" alt="Email" />
    </a>
    <a
      href="https://www.instagram.com/cusustainabledesign/?hl=en"
      class="social-icon"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="/assets/icons/icon-instagram.svg" alt="Instagram" />
    </a>
    <a
      href="https://www.linkedin.com/company/cornellusd/"
      class="social-icon"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="/assets/icons/icon-linkedin.svg" alt="Linkedin" />
    </a>
    <a
      href="https://www.facebook.com/CUSustainableDesign/?fref=ts"
      class="social-icon"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="/assets/icons/icon-facebook.svg" alt="Facebook" />
    </a>
    <a
      href="https://x.com/CUSD"
      class="social-icon"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="/assets/icons/icon-x.svg" alt="X" />
    </a>
  </div>
</div>
<hr class="footer-divider" />
<div class="footer-bot">
  <p>©2025 Cornell University Sustainable Design. All Rights Reserved</p>
  <p>Site Maintained by MarComm @ CUSD</p>
</div>
