<!-- Logo -->
<a href="/index.html" class="logo">
  <div class="cusd-logo">
    <img
      src="/assets/icons/cusd-logo-transparent.svg"
      alt="CUSD Logo"
      class="cusd-logo-img"
    />
    <div class="cusd-logo-text">
      <p class="cu">Cornell University</p>
      <p class="sd">Sustainable Design</p>
    </div>
  </div>
</a>

<!-- Links -->
<ul class="header-links">
  <li class="header-link-style">
    <a href="/index.html" class="header-link">Home</a>
  </li>
  <li class="header-link-style">
    <a href="/pages/projects.html" class="header-link">Projects</a>
  </li>
  <li class="header-link-style">
    <a href="/pages/team.html" class="header-link">Team</a>
  </li>
  <li class="header-link-style">
    <a href="/pages/connect.html" class="header-link">Connect</a>
  </li>
  <li class="header-link-style">
    <a href="/pages/apply.html" class="header-link">Apply</a>
  </li>
</ul>

<!-- Button -->
<a
  href="https://docs.google.com/forms/d/e/1FAIpQLSf0N4j5ygbPTaxz1sUP5OnP3LyUuGripueVg9eSXtWjb__Jxw/closedform"
  target="_blank"
  rel="noopener noreferrer"
>
  <button class="header-button">Join Us</button></a
>
